# backend config files
/backend/.gradle
/backend/bin
/backend/build
/backend/HELP.md
/backend/.env

# frontend
/apps/.expo
/apps/mobile/node_modules
/apps/expo-env.d.ts
/apps/mobile/app.json
/apps/mobile/package-lock.json
/apps/mobile/package.json
/apps/mobile/tsconfig.json
/apps/eslint.config.js
/apps/mobile/ios
/apps/mobile/android


# misc
.DS_Store
desktop_icon
Icon
unicycle_db.session.sql
.vscode