# backend config files
/backend/.gradle
/backend/bin
/backend/build
/backend/HELP.md
/backend/.env

# frontend
/apps/.expo
/apps/mobile/node_modules
/apps/expo-env.d.ts
/apps/mobile/ios
/apps/mobile/android
/apps/mobile/.env

# misc
.DS_Store
desktop_icon
Icon
unicycle_db.session.sql
.vscode