# backend config files
/backend/.gradle
/backend/bin
/backend/build
/backend/gradle
/backend/build.gradle
/backend/gradlew
/backend/gradlew.bat
/backend/settings.gradle
/backend/HELP.md

# frontend
/frontend/.expo
/frontend/node_modules
/frontend/expo-env.d.ts
/frontend/app.json
/frontend/package-lock.json
/frontend/package.json
/frontend/tsconfig.json
/frontend/eslint.config.js

# misc
.DS_Store
desktop_icon
Icon
unicycle_db.session.sql
.env